<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if (title) -%}
    <title>{{ title }} - evvil town</title>
    {%- else -%}
    <title>evvil town</title>
    {%- endif -%}
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Radley:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Barcode+128+Text&family=Radley:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ content | safe }}
    <footer>&copy;{{ built | year }} @sharkked
      <a class="social" href="https://bsky.evvil.town">
        <img alt="bluesky" src="/images/socials/bluesky.svg" width="16" height="16" />
      </a>
      <a class="social" href="https://twitter.com/sharkkedy">
        <img alt="twitter" src="/images/socials/twitter.svg" width="16" height="16" />
      </a>
      <a class="social" href="https://twitch.tv/sharkked">
        <img alt="twitch" src="/images/socials/twitch.svg" width="16" height="16" />
      </a>
      <a class="social" href="https://github.com/sharkked">
        <img alt="github" src="/images/socials/github.svg" width="16" height="16" />
      </a>
      <a class="social" href="/feed.xml">
        <img alt="rss/atom feed" src="/images/socials/rss.svg" width="16" height="16" />
      </a>
    </footer>
  </body>
</html>
