---
layout: _base.njk
---

<style>
#logo {
  padding-right: 1rem;
  cursor: default;
}

.social {
  padding-left: 0.5rem;
  line-height: 0;
}
</style>
<header>
  <div id="logo">
    <img src="" />evvil town.
  </div>
  <nav>
    <a href="/home">home</a>
    <a href="/about">about</a>
    <a href="/art">art</a>
    <a href="/journal">journal</a>
    <a href="/links">links</a>
  </nav>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy;2024 @sharkkii
  <a class="social" href="https://bsky.evvil.town">
    <img alt="bluesky" src="/images/socials/bluesky.svg" width="16" height="16" />
  </a>
  <a class="social" href="https://twitter.com/sharkkedy">
    <img alt="twitter" src="/images/socials/twitter.svg" width="16" height="16" />
  </a>
  <a class="social" href="https://twitch.tv/sharkked">
    <img alt="twitch" src="/images/socials/twitch.svg" width="16" height="16" />
  </a>
  <a class="social" href="https://github.com/sharkked">
    <img alt="github" src="/images/socials/github.svg" width="16" height="16" />
  </a>
</footer>
