---
layout: _base.njk
---

<header>
  <div id="logo">
    <img src="" />
  </div>
  <nav>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/art">art</a>
    <a href="/posts">blog</a>
  </nav>
</header>
<main>
  {{ content | safe }}
</main>
<footer>@sharkkedy</footer>

