---
layout: _base.njk
date: "git Last Modified"
---

<style>
#logo {
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  font-family: Snavirus;
  cursor: default;
}

.social {
  padding-left: 0.5rem;
  line-height: 0;
}
</style>

<header>
  <div id="logo">
    <img src="" />evvil.town
  </div>
  <nav class="global-nav">
    <a href="/home">home</a>
    <a href="/about">about</a>
    <a href="/art">art</a>
    <a href="/journal">journal</a>
    <a href="/links">links</a>
  </nav>
</header>
<main>
  {{ content | safe }}
</main>
