---
layout: main.njk
---
<style>
main {
  justify-content: start;
  font-size: 1rem;
  max-width: 1000px;
  margin: auto;
}

article {
  width: 100%;
}

.post-header {
  padding: 2rem 0;
}

.post-content {
  flex: 1;
}

.post-content p {
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

.post-content img {
  display: block; 
  margin: auto;
}
</style>
<article>
  <div class="post-header">
    ---
    <h1>{{ title }}</h1>
    <p style="opacity: 0.5">{{ page.date }}</p>
    ---
  </div>
  <div class="post-content">
  {{ content | safe }}
  </div>
</article>
