---
layout: main.njk
---
<style>
main {
  justify-content: start;
}

article {
  width: 100%;
}

.post-header {
  padding: 2rem 0;
}

.post-content {
  flex: 1;
}

.post-content p {
  line-height: 1.5rem;
  padding: 0.5rem 0;
}
</style>
<article>
  <div class="post-header">
    ---
    <h1>{{ title }}</h1>
    <p style="opacity: 0.5">{{ page.date }}</p>
    ---
  </div>
  <div class="post-content">
  {{ content | safe }}
  </div>
</article>
